/* QueryPage.css */
/* .query-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
  padding-right: 250px; 
} */

.logo {
  width: 10vw;
  height: auto;
  margin-bottom: 2vh;
}


/* .search-box {
  padding: 10px;
  font-size: 16px;
} */



.reference-container {  
  display: grid;
  grid-template-columns: auto auto auto;
}
/* 
.content {
  width: 100vw;
} */

h1 {
  font-size: 3rem;
  text-align: left;
  margin-left: 3vw;
  margin-bottom: 0px;
}

hr {
  border: 0.5px solid;
  margin-top: -10px;
}

.search-bar {
  margin: 30px auto; /* Center the search container horizontally */
  display: flex;
  justify-content: center;
}

